@namespace BootstrapBlazor.Components
@inherits ComponentBase
@typeparam Model

<BusinessFormViewer GetRenderPropertyInfo=GetRenderPropertyInfo
                    InitializationModel="InitializationModel"
                    ExistingForms=ExistingForms IsReadOnlyProperty=IsReadOnlyProperty
                    CanEdit="CanEdit"
                    IsValueReference=IsValueReference Delete="Delete" Cancellation="Cancellation"
                    ResetAfterSubmission=ResetAfterSubmission Resetting="Resetting"
                    Submit="Submit">
    <RenderComponent>
        @if (RenderComponent is null)
        {
            <div class="bootstrapFormViewerTopContainer">
                @context.RenderMain
                @context.RenderSubmit
            </div>
        }
        else
        {
            @RenderComponent(context)
        }
    </RenderComponent>
    <RenderMain>
        @if (RenderMain is null)
        {
            <div class="bootstrapFormViewerContainer">
                @context.RenderAllGroup()
            </div>
        }
        else
        {
            @RenderMain(context)
        }
    </RenderMain>
    <RenderProperty>
        @if (RenderProperty is null)
        {
            @if (context is RenderFormViewerPropertyInfo<Model> renderProperty)
            {
                <BootstrapFormViewerProperty RenderInfo="renderProperty" />
            }
        }
        else
        {
            @RenderProperty(context)
        }
    </RenderProperty>
    <RenderSubmit>
        @if (RenderSubmit is null)
        {
            var baseInfo = context.BaseRenderInfo;
            @if (baseInfo.CanEdit)
            {
                <div class="compactCentered">
                    <Button Text="@(baseInfo.ExistingForms?"修改":"提交")" OnClick="context.Submit"></Button>
                    <Button Text="重置" OnClick="baseInfo.Resetting"></Button>
                    @if (context.Delete is { } deleteValue)
                    {
                        <Button Text="删除" OnClick="deleteValue"></Button>
                    }
                    @if (context.Cancellation is { } cancellationValue)
                    {
                        <Button Text="取消" OnClick="cancellationValue"></Button>
                    }
                </div>
            }
        }
        else
        {
            @RenderSubmit(context)
        }
    </RenderSubmit>
</BusinessFormViewer>