@namespace Microsoft.AspNetCore.Components
@inherits ComponentBase

<TofuCubes MaxTextLength="MaxTextLength" Text="@Text">
    <div class="@context.CSSContainer" @attributes=ContainerAttributes>
        <div class="@context.CSSIcon" style="@(context.ContainerWidth)">
            <Center>
                @RenderIcon(Text)
            </Center>
        </div>
        <div class="@context.CSSText" style="@(context.TextStyle)">
            <TextRenderingSimple Value="@context.Text" />
        </div>
    </div>
</TofuCubes>