@namespace BootstrapBlazor.Components
@inherits ComponentBase

@{
    var renderInfo = GetRenderInfo();
}
@if (RenderComponent is null)
{
    var files = renderInfo.Files;
    <FileUpload OnUpload="renderInfo.OnUpload" UploadFileOptions="renderInfo.UploadFileOptions">
        <RenderComponent Context="renderFileUpload">
            @{
                var uploadTaskInfo = renderFileUpload.UploadTaskInfo;
                var hugeFileCount = uploadTaskInfo.HugeFiles.Count;
            }
            <div class="commonContainers">
                <label>
                    <InputFile OnChange="renderFileUpload.OnChange" id="@renderFileUpload.ID" @key=@renderFileUpload.ID
                               accept="@renderInfo.Accept" multiple="@renderInfo.Multiple" />
                    <span class="uploadButtonContainer">
                        <Button Text="@renderInfo.UploadButtonText" />
                        @if (renderInfo.InUpload)
                        {
                            <Spinner Color="Color.Primary" />
                        }
                    </span>
                </label>
                <div>
                    <span>提示：点击即可删除文件，上传文件的最大大小为@(uploadTaskInfo.UploadFileOptions.MaxAllowedSizeFormat)</span>
                    @if (hugeFileCount > 0)
                    {
                        <span>，有@(hugeFileCount)个文件因为大小超过限制，未能上传</span>
                    }
                </div>
                @if (files.Count > 0)
                {
                    <BootstrapFileViewer Files="files">
                        <RenderFile Context="renderSingleFile">
                            <BootstrapSingleFile RenderFileInfo="renderSingleFile" @onclick=renderSingleFile.CancelFile />
                        </RenderFile>
                    </BootstrapFileViewer>
                }
            </div>
        </RenderComponent>
    </FileUpload>
}
else
{
    @RenderComponent(renderInfo)
}
