@namespace BootstrapBlazor.Components
@inherits ComponentBase

<ModelDialog Context="dialogID">
    <dialog id="@dialogID" class="@(DialogCSS) bootstrapPopUpDialog">
        <Card>
            <HeaderTemplate>
                <Center>
                    <div>@Title</div>
                </Center>
            </HeaderTemplate>
            <BodyTemplate>
                @RenderBody
            </BodyTemplate>
            <FooterTemplate>
                @if (RenderFooter is { })
                {
                    @RenderFooter(Cancellation)
                }
                else
                {
                    <div class="compactCentered">
                        <Button Text="关闭" OnClick="@Cancellation" />
                    </div>
                }
            </FooterTemplate>
        </Card>
    </dialog>
</ModelDialog>